<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block content %}My amazing site{% endblock %}</title>
    <link src="{% static 'css/files.css' %}" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div id="sidebar">
        Sidebar
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </div>

    <div id="content">
       {% block page %}{% endblock %}

       <img src="{% static '3.png' %}" width="200px"/>
    </div>
</body>
</html>